body{
    margin: 0;
    background: #2F4F30;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.titulo{
    text-align: center;
    background-color: #000000ac;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    width: 100vw;
    
}


.carta{
    position: relative;
    width:4em;
    left: 2em;
    margin-left: -2em;
    -webkit-box-shadow: -2px 0px 1px -1px rgba(0,0,0,0.6); 
box-shadow: -2px 0px 1px -1px rgba(0,0,0,0.6);
    
}

#jugador-cartas, #computadora-cartas {
    height: 5em;
}